*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-color: #163c6d;
  --font-family: "Roboto Slab";
  --font-grey: #413f3f;

}

body {
  position: relative;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(0deg,
      rgba(237, 70, 24, 1) 0%,
      rgba(245, 230, 193, 1) 100%);
  font-family: var(--font-family);
  overflow-x: hidden;
}


main {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  max-width: 500px;
  width: 100%;
  box-shadow: 4px 7px 17px 4px;


}


fieldset {
  border: none;
  border-top: 1px solid #000;
  padding: 0;
  margin-top: 2rem;
}

legend {
  font-weight: bold;
  margin-left: 1.5rem;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.485);
  color: var(--primary-color);
}

h1::after {
  position: relative;
  content: "";
  display: inline-block;
  top: 1rem;
  left: -6.5rem;
  width: 5.8rem;
  height: 2px;
  background: var(--primary-color);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

legend {
  display: flex;
  align-items: center;
  margin: 1rem;
  padding-right: 1rem;

}

fieldset span {
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  color: white;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;

}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #e8eeefd6;
  font-size: 1rem;
  font-family: var(--font-family);
  margin: 0.2rem 0 0.2rem 0;
}

.password-hint p {
  padding-left: 0.5rem;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 580;
  color: var(--font-grey);
  margin: 0;
}

.option-group {
  margin-left: 0.5rem;
}

.sub-headings {
  margin-bottom: 0.5rem;
  color: var(--font-grey);

}

.checkbox-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 0.5rem;
  color: var(--font-grey);
}

.checkbox-item,
.radio-item {
  display: flex;
  align-items: center;
}

.checkbox-item input[type="checkbox"],
.radio-item input[type="radio"] {
  cursor: pointer;
}

.checkbox-item label,
.radio-item label {
  cursor: pointer;
  user-select: none;
  font-size: 0.9rem;
  font-weight: normal;
}

footer {
  width: 100%;
  text-align: right;
  margin-top: 1rem;

}